/node_modules
/public/hot
/public/storage
/public/temp
/public/images
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/old_data
/public/js/*
!/public/js/forms
!/public/js/venders
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
error_log
public_html